<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<input type="hidden" id="opt" name="opt" value="prijava">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%= stranka.InvoiceCnt %>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>">
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		/*
			Globalne spremenljivke
		*/
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;

		var gValidForm = false; // If whole form is valid
		var gKraji = [];
		
		
		/*
			Setup metode
		*/
		
		// Nalozi kraje in dodaj autocomplete
		$.ajax({
			url: "https://api.lavbic.net/kraji",
			dataType: "json",
			success: function(data) {
				gKraji = $.map(data, function (item) {
		            item.label = item.kraj;
		            //item.value = item.kraj;
		            return item;
		        });
		        
		        // Load autocomplete
		        $("#City").autocomplete({
					source: gKraji,
					minLength: 3,
					select: function(event,ui) {
					   console.log(ui.item);
					   //document.getElementById("City").value = ui.item.label; // display the selected text
					   document.getElementById("Country").value = "Slovenija";
					   document.getElementById("PostalCode").value = ui.item.postnaStevilka;
					   formValidateUpdate();
					}
				});
		        //console.log(gKraji);
			}
		});
		
		
		/*
			Metode in poslušalci
		*/
		
		/**
		 * Updates status of whole forum based on other attributes
		 */
		function formValidateUpdate() {
			var notvalid = !isEmailValid() || !isAddressValid();
			if (notvalid) {
				// Form is invalid
				gValidForm = false;
				document.getElementById("Register").disabled = true;
				
			} else {
				// Form is valid
				gValidForm = true;
				document.getElementById("Register").disabled = false;
			}
		}


		/*
			Naslov
		*/
		
		/**
		 * Checks if Address fields are valid
		 * - PostalCode is present
		 * - Country is present
		 * @return valid
		 */
		function isAddressValid() {
			var postnaStevilka = document.getElementById("PostalCode").value;
			var drzava = document.getElementById("Country").value;
			var notvalid = postnaStevilka.length == 0 || drzava.length == 0;
			return !notvalid;
		}
		
		document.getElementById("City").addEventListener("keyup", function () {
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
			}
			formValidateUpdate();
		});
		
		/*
			Preverjanje e-mail
		*/
		
		/**
		 * Checks if email is valid
		 * @return valid
		 */
		function isEmailValid() {
			var email = document.getElementById("Email").value;
			var valid = email.length > 0 && email.match(emailRegex);
			return valid;
		}
		
		// Na zacetku
		document.getElementById("EmailValidate").className = (!isEmailValid())?"glyphicon glyphicon-remove" : "glyphicon glyphicon-ok";
		
		// Ob spremembi
		document.getElementById("Email").addEventListener("keyup", function () {
			document.getElementById("EmailValidate").className = (!isEmailValid()) ? "glyphicon glyphicon-remove" : "glyphicon glyphicon-ok";
			formValidateUpdate(); // Posodobimo stanje celotne forme
		});
		

		// Na zacetku pocakamo, da gredo vsa preverjanja cez, preden pogledamo, ce so vneseni podatki veljavni
		formValidateUpdate();

		/**
		 * Oznacevanje racunov, ko izberemo stranko iz seznama
		 */
		document.getElementById("seznamStrank").addEventListener("change", function() {
			// Povsod odstrani highlight
			$("#seznamRacunov option").removeClass("racun-stranke");
			
			// Dodaj highlight samo za tisto stranko, ki je izbrana
			var customerId = this.value;
			//console.log(customerId);
			$("#seznamRacunov option[customerId='" + customerId + "']").addClass("racun-stranke");
		});

	});
</script>
</body>
</html>